go.sum
.bak
email.txt
Final.html
Final.html.pdf
Final.md
Midterm-In-Class.html
Midterm-In-Class.html.pdf
Midterm-In-Class.md
.DS_Store
2020-01-25T1659_Grades-8F202020_COSC-4010-01,_COSC-5010-02.csv
2020-02-12T1620_Grades-8F202020_COSC-4010-01,_COSC-5010-02.csv
email.new.txt
email.txt
email2.txt
Spencer-Romberg
